/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: flex;
  flex-direction: column; /* Display children in a column */
  gap: 20px; /* Add some space between children */
}
.metadata-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.metadata-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.metadata-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.metadata-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* New metadata submission form */
.create {
  max-width: 1000px; /* Adjust the maximum width of the form */
  margin: auto; /* Center the form horizontally */
}
label {
  display: inline-block;
  margin-bottom: 5px;
}
input, textarea, .Select {
  width: calc(100% - 22px); /* Adjust the width of the form elements */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  display: block;
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  margin: 20px auto 0 auto;
}
.form-button {
  display: block;
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  margin: 20px auto 0 auto;
}
.button-container {
  align-self: flex-end; /* Align the button container to the end of the container */
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

/* Style for radio button container */
.radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.radio-container input {
  margin: 0 10px 0 0;
  width: auto;
}
.radio-container label {
  margin: 0;
}
input.error {
  border: 1px solid var(--error);
}

/* Modal styling */
.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  margin: 15px; /* Adjust the margin to provide some space around the modal */
  padding: 20px;
  border: 1px solid #888;
  max-width: 80%; /* Adjust the maximum width of the modal */
  max-height: 80%;
  overflow: auto; /* Enable scrolling if the content overflows */
  position: relative; /* Add relative positioning */
}

.close {
  position: absolute; /* Position the close button relative to the modal content */
  top: 10px; /* Adjust the top position of the close button */
  right: 10px; /* Adjust the right position of the close button */
  color: #aaa;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
}
